<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" /> <!-- NFC 하드웨어가 있는 기기에서만 애플리케이션이 Google Play에 표시되도록 하는 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name="com.alt.letseatingtime_android.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_test"
        android:roundIcon="@mipmap/ic_test_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEatingTime"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.alt.letseatingtime_android.ui.activity.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alt.letseatingtime_android.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.alt.letseatingtime_android.ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false">

        </activity>
        <activity
            android:name="com.alt.letseatingtime_android.ui.activity.SignupActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.alt.letseatingtime_android.ui.activity.LoginActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>